@font-face {
    font-family: 'WorkSans';
    src: url('../images/font/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    color: white;
    margin: 10px;
    padding: 10px;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #000; /* Futuristico e minimale */
}

.clickable-text:hover {
    color: #575757;
}

.footer {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;                
    position: static;         
    bottom: 0;                
}

.footer-content p {
    margin: 5px 0;
    font-family: 'WorkSans', sans-serif;
}

header {
    background-color: #111;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #333;
  }
  
  .navbar a:hover {
    background-color: #333;
    border-radius: 4px;
  }
  
  /* Menu hamburger per dispositivi mobili */
  .menu-icon {
    display: none;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: none;
      flex-direction: column;
      background-color: #111;
      position: fixed; /* Copre tutto lo schermo in alto */
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
  
    .navbar.show {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  
  }
  
  
  
h1 {
    margin: 0;
    font-size: 24px;
}
  

#slideshow {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;            /* Tutte le immagini sono invisibili per default */
    transition: opacity 1s ease-in-out;  /* Transizione di 1 secondo */
  }
  
  .slide.active {
    opacity: 1;            /* L'immagine attiva diventa visibile */
    z-index: 1;
  }
  
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 36px;
    padding: 16px;
    cursor: pointer;
    user-select: none;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
  }
  
  